* {
    box-sizing: border-box;
  }

body {
    margin: 100;
    padding: 0;
}

.btn{
    margin-right: 15px;
}

#defaultCanvas0 {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#defaultCanvas1 {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#stimulus-window {
    background-color: aquamarine;

}

#environment-window {
    background-color: bisque;
}

#experiment .col-md{
    padding: 20px;
}
