* {
  box-sizing: border-box;
}
body {
  margin: 100;
  padding: 0;
}
#defaultCanvas0 {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#experiment-container {
  display: block;
}