* {
    box-sizing: border-box;
  }

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 100;
    padding: 0;
}

.btn{
    margin-right: 15px;
}

#defaultCanvas0, #defaultCanvas1 {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#stimulus-window {
    background-color: aquamarine;

}

#environment-window {
    background-color: bisque;
}

#experiment .col-md{
    padding: 20px;
}

#trial-number{
    float: none;
    margin: auto;
}

#trial-number p{
    text-align: center;
}

#experiment-buttons .col-auto{
    padding: 100px;
}

#occluder {
  float: middle;
  border:solid 1px #7F7F7F;
  height: 100vh;
  width: 100vw;
  margin: auto;
  top: 40px; bottom: auto; left:0; right: 0;
  background: #7F7F7F;
  position: absolute;
  z-index: 12;
}
